/*  ---------------------------------COLORES---------------------------------*/
:root {
    --fondo-blanco: #eff3f5;
    --fondo-negro: #121a21;
    --header-blanco: #fff;
    --header-negro: #212e36;
    --fondo-header: rgb(233, 233, 233);
    /* CONTENIDO */
    --fondo-negro-contenido: #0e2636;
    --fondo-blanco-contenido: #eff3f5;

    --fondo-blanco-dark: #eff3f5;
    --fondo-negro-dark: #121a21;
    --header-blanco-dark: #fff;
    --header-negro-dark: #212e36;
    --fondo-header-dark: #293a44;
    --hover: rgb(0, 51, 80);
    /* CONTENIDO */
    --fondo-negro-contenido: #0e2636;
    --fondo-blanco-contenido: #eff3f5;

    --fondo-texto-negro: rgb(9, 51, 85);
    --fondo-texto-blanco: rgb(226, 234, 241);
    --fondo-acordion-blanco: rgb(203, 217, 230);
    --fondo-negro-accordion: #1c2731;
}
