* { margin: 0; padding: 0; -webkit-box-sizing: border-box; box-sizing: border-box; }

body { font-size: 16px; font-family: "Poppins"; }

section:target .programas { background: #ff5b5b; }

body.dark-active section:target .programas { background: #ff5b5b; }

/*  ---------------------------------COLORES---------------------------------*/
:root { --fondo-blanco: #eff3f5; --fondo-negro: #121a21; --header-blanco: #fff; --header-negro: #212e36; --fondo-header: rgb(233, 233, 233); /* CONTENIDO */ --fondo-negro-contenido: #0e2636; --fondo-blanco-contenido: #eff3f5; --fondo-blanco-dark: #eff3f5; --fondo-negro-dark: #121a21; --header-blanco-dark: #fff; --header-negro-dark: #212e36; --fondo-header-dark: #293a44; --hover: rgb(0, 51, 80); /* CONTENIDO */ --fondo-negro-contenido: #0e2636; --fondo-blanco-contenido: #eff3f5; --fondo-texto-negro: rgb(9, 51, 85); --fondo-texto-blanco: rgb(226, 234, 241); --fondo-acordion-blanco: rgb(203, 217, 230); --fondo-negro-accordion: #1c2731; }

/* ------------------------------------------------------  HEADER MODO CLARO  --------------------------------------------------------------------------------- */
.encabezado { width: 100%; display: -ms-grid; display: grid; -ms-grid-columns: 1fr 30fr 1fr; grid-template-columns: 1fr 30fr 1fr; -ms-grid-rows: auto; grid-template-rows: auto; justify-items: stretch; -webkit-box-align: center; -ms-flex-align: center; align-items: center; text-align: center; padding: 0.625rem; background: var(--fondo-blanco); height: 70px; position: fixed; top: 0; z-index: 4000; }

.logo { width: 38px; border-radius: 50%; border: solid white 2px; }

.menu-ul a { text-decoration: none; font-weight: bold; color: var(--fondo-negro); opacity: 0.9; padding: 1.25rem; font-size: 0.9375rem; }

.menu-ul a.item:hover { background: whitesmoke; opacity: 1; border-bottom: solid #003350 2px; }

.menu-ul { display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: space-evenly; -ms-flex-pack: space-evenly; justify-content: space-evenly; }

li { list-style: none; }

i.off { color: #ff9100; font-size: 30px; -webkit-transform: rotate(180deg); transform: rotate(180deg); cursor: pointer; }

.menu-ul li ul.slide { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column; background: var(--fondo-blanco); color: white; text-align: left; position: absolute; top: calc(100% + 20px); right: 0; width: 100%; display: none; z-index: 2000; }

.menu-ul li ul.slide li { position: relative; }

.menu-ul li ul.slide li ul { position: absolute; right: -100%; top: 0; }

.menu-ul li ul.slide a { display: block; padding: 10px; border-bottom: solid rgba(0, 51, 80, 0.281) 1px; font-size: 0.8125rem; }

.menu-ul li ul.slide a:hover { background: white; }

.lista { position: relative; }

li:hover > ul.slide { display: block; z-index: 2000; background: var(--fondo-blanco); }

.menu-icon { display: none !important; }

.name { display: none; }

.mis-cursos { display: none; }

.usuario_name { font-size: 14px; font-weight: 800; color: #000000 !important; margin-right: 13px; }

.dropdown-menu { background: var(--fondo-blanco); }

.subir-arriba { padding: 18px 30px; position: fixed; background: rgba(16, 71, 143, 0.568); bottom: 20px; right: 20px; font-size: 30px; cursor: pointer; display: block; opacity: 0.4; color: white; display: none; }

@media screen and (max-width: 1000px) { .menu-icon { display: inline !important; font-size: 25px; cursor: pointer; margin-left: 20px; }
  .div-dark-menu { display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; }
  .encabezado { padding: 0 20px; -ms-grid-columns: (1fr)[2]; grid-template-columns: repeat(2, 1fr); display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: justify; -ms-flex-pack: justify; justify-content: space-between; }
  .menu-ul a.item { border-bottom: solid #003350 1px; border-left: solid rgba(255, 255, 255, 0) 3px; }
  .menu-ul a.item:hover { border-bottom: solid #003350 1px; border-left: solid #0099ff 3px; }
  .menu-nav { /* display: none; */ position: absolute; background: var(--fondo-blanco); width: 50%; /*update*/ left: 0; bottom: 0; top: 70px; height: calc(100vh - 70px); z-index: 3000; left: -80%; -webkit-transition: all 1s; transition: all 1s; overflow: auto; }
  .menu-ul { position: relative; display: block; height: calc(100vh - 70px); bottom: 0; overflow: auto; overscroll-behavior: contain; }
  /* ::-webkit-scrollbar { width: 7px; } .menu-nav::-webkit-scrollbar-thumb { background: rgba(0, 92, 153, 0.541); } */
  .menu-ul li a { text-align: left; display: block; }
  .menu-ul li ul.slide { background: var(--fondo-blanco) !important; display: block; position: relative; top: 0; bottom: 0; left: 0; display: none; }
  .menu-ul li ul.slide li ul { position: relative; top: 0; bottom: 0; left: 0; }
  ul.slide li a span { position: relative; left: 50px; }
  ul.slide li ul.slide li a span { position: relative; left: 100px; }
  .name { font-size: 15px; display: block; font-weight: normal; letter-spacing: 3px; text-transform: uppercase; color: var(--header-negro); text-shadow: 0 0 2px var(--fondo-negro); }
  .name a { text-decoration: none; }
  .mis-cursos { display: block; letter-spacing: 2px; background: #dee9ff; text-transform: uppercase; font-size: 16px; padding: 10px 20px; }
  .usuario_name { display: none; } }

@media screen and (max-width: 600px) { .menu-nav { width: 70%; /*update*/ } }

@media screen and (max-width: 540px) { .subir-arriba { padding: 8px 20px; } }

@media screen and (max-width: 400px) { .subir-arriba { padding: 8px 20px; } }

/*  ---------------------------------MODO CLARO SIDEBAR---------------------------------*/
button.btn-primary { padding: 8px 0; }

.nombre-curso { text-align: center; background: var(--fondo-texto-blanco); padding: 20px; font-weight: normal; color: var(--fondo-texto-negro); margin-bottom: 0; border-bottom: solid #44566b 1px; }

.proceso { margin-top: 0; width: 100%; background: var(--fondo-texto-blanco); display: -ms-grid; display: grid; -ms-grid-columns: (1fr)[12]; grid-template-columns: repeat(12, 1fr); -ms-grid-rows: auto; grid-template-rows: auto; }

.accordion { overflow-y: auto; grid-column: span 3; background: var(--fondo-acordion-blanco); padding: 20px 10px; }

.descripcion { background: var(--fondo-texto-blanco); padding: 20px; grid-column: span 9; padding: 10px; }

.tabla-contenido { color: var(--fondo-texto-negro); text-align: center; padding-bottom: 10px; border-bottom: solid var(--fondo-texto-blanco) 1px; text-transform: uppercase; }

.class-items { color: var(--fondo-texto-negro); text-decoration: none !important; padding: 10px; font-size: 13px; border-bottom: solid rgba(12, 29, 59, 0.5) 1px; }

.class-items:hover { background: rgba(0, 0, 0, 0.123); }

.temas { font-size: 15px; }

.collapse { background: var(--fondo-texto-blanco); }

span { font-size: 14px; }

.programas { color: var(--fondo-texto-negro); padding: 15px 10px; font-weight: bold; background: var(--fondo-acordion-blanco); }

@media screen and (max-width: 900px) { .accordion { grid-column: span 4; }
  .descripcion { grid-column: span 8; } }

@media screen and (max-width: 600px) { .accordion { grid-column: span 12; }
  .descripcion { grid-column: span 12; } }

ol { margin: 0; }

ol li { list-style-type: decimal !important; margin-left: 20px; font-size: 14px; }

.img-conexion { overflow-x: auto; border-radius: 5px; }

.texto { margin-bottom: 10px; padding: 0 0px 0 20px; overflow: hidden; }

.ejercicio { background: #918e00; }

/*  ---------------------------------MODO CLARO SECTION---------------------------------*/
.content { padding: 0px 0px 0px 0px; background: var(--fondo-blanco-contenido); color: var(--fondo-negro-contenido); /* min-height: 100vh; max-height: 100%; */ height: calc(100vh - 70px); position: relative; /* overflow-y: scroll; */ top: 70px; }

.seccion { width: 100%; height: calc(100vh - 70px); background-image: url("../img/main.jpg"); background-size: cover; opacity: 0.4; -webkit-filter: blur(1px); filter: blur(1px); z-index: 1000; }

.efecto { width: 100%; height: calc(100vh - 70px); background: rgba(1, 23, 37, 0.664); position: absolute; z-index: 2000; }

h1 { position: absolute; width: 100%; display: -webkit-box; display: -ms-flexbox; display: flex; height: calc(100%); top: 0px; bottom: 0; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 50px; letter-spacing: 15px; font-weight: bold; color: white; text-align: center; background: rgba(0, 0, 0, 0.411); z-index: 3000; }

table thead { background: #0a6f81; color: white; text-align: center; font-size: 18px; line-height: 50px; }

table tbody tr { line-height: 40px; }

table tbody tr td { padding-left: 30px !important; }

table tbody tr td:first-child { font-size: 14px !important; }

table tbody tr:hover { /* background: rgb(255, 255, 255); */ color: black; font-weight: 600; }

.texto { margin-bottom: 10px; padding: 0 0px 0 20px; overflow: hidden; }

@media screen and (max-width: 1000px) { .seccion { background-image: url("../img/main.jpg"); background-position: center; z-index: 1000; }
  .small { -webkit-filter: blur(5px); filter: blur(5px); }
  /*update */ }

@media screen and (max-width: 765px) { h1 { letter-spacing: 10px; font-size: 38px; } }

@media screen and (max-width: 540px) { h1 { letter-spacing: 10px; font-size: 30px; } }

@media screen and (max-width: 400px) { h1 { letter-spacing: 10px; font-size: 20px; } }

/* headroom */
.headroom { -webkit-transition: -webkit-transform 0.3s ease; transition: -webkit-transform 0.3s ease; transition: transform 0.3s ease; transition: transform 0.3s ease, -webkit-transform 0.3s ease; }

.headroom--pinned { -webkit-transform: translateY(0%); transform: translateY(0%); }

.headroom--unpinned { -webkit-transform: translateY(-100%); transform: translateY(-100%); }

/* glider js*/
.wrapper { /* width: 150px; */ display: -webkit-box; display: -ms-flexbox; display: flex; -ms-flex-wrap: wrap; flex-wrap: wrap; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; padding: 0; }

.wrapper a img { width: 100%; position: relative; border-radius: 5px; margin: 5px; height: 100%; }

.wrapper a { width: 150px; float: left; position: relative; border-radius: 5px; margin: 5px; }

.wrapper a[rel]:hover:before { font-size: 20px; }

.wrapper a[rel]:before { content: attr(rel); position: absolute; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-size: 12px; width: 100%; height: 100%; background: rgba(2, 54, 75, 0.473); color: white; top: 0; left: 0; z-index: 2000; -webkit-transition: all 0.2s; transition: all 0.2s; border-radius: 5px; margin: 5px; }

/* PRISM JS */
/* update */
.line-numbers-rows span { line-height: 24px; }
/*# sourceMappingURL=styles.css.map */